<h3>Unsere Kompetenzen</h3>
    <table class="table table-sm table-responsive-sm">
        <thead>
            <th scope="col">Forschungsfeld</th>
            <th scope="col">Inhalte</th>
        </thead>
        <tbody id="myTable">
            <tr>
                <td>
                    Anthropologie
                </td>
                <td>
                    <ul>
                        <li>Analyse von Skelettmaterial</li>
                        <li>Analyse des menschlichen Bewegungsapparates</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Daktyloskopie
                </td>
                <td>
                    <ul>
                        <li>Auswertung von Fingerspuren</li>
                        <li>Idenfikation und Verifikation von Personen </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Blutmusteranalyse
                </td>
                <td>
                    <ul>
                        <li>Auswertung von Blutspuren und -mustern</li>
                        <li>Einordnung Blutspuren und -muster in einen möglichen Tathergang</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Bioinformatik
                </td>
                <td>
                    <ul>
                        <li>Digitale Analyse (forensisch-) biologischer Daten</li>
                        <li>Sach- und fachgerechte Darstellung der Daten</li>
                        
                    </ul>
                </td>
            </tr>
            <tr>
        </tbody>
    </table>