<hr>
<div class="container">
    <div class="row">
        <!-- Team Member special prev-next -->
        {% if page.layout == "team-member" %}
            <div class="col-sm-4">
                {% if page.previous.url %}
                    <a class="btn btn-primary btn-block my-1" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; {{ page.previous.initialfirst }} {{ page.previous.lastname }}</a>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary btn-block my-1" href="{{ '/about/team' | relative_url }}"><span class="d-none d-md-inline">Das </span>FoSIL Team</a>
            </div>
            <div class="col-sm-4">
                {% if page.next.url %}
                    <a class="btn btn-primary btn-block  my-1" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">{{ page.next.initialfirst }} {{ page.next.lastname }} &rarr;</a>
                {% endif %}
            </div>
        <!-- News special prev-next -->
        {% elsif page.layout == "news" %}
            <div class="col-sm-4">
                {% if page.previous.url %}
                    <a class="btn btn-primary btn-block my-1" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Vorherige Neuigkeit</a>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary btn-block my-1" href="{{ '/news' | relative_url }}"><span class="d-none d-md-inline">Alle Neuigkeiten</a>
            </div>
            <div class="col-sm-4">
                {% if page.next.url %}
                    <a class="btn btn-primary btn-block  my-1" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Darauffolgende Neuigkeit &rarr;</a>
                {% endif %}
            </div>
        <!-- workshop special prev-next -->
        {% elsif page.layout == "workshop" %}
                <div class="col-sm-4">
                    {% if page.previous.url %}
                         <a class="btn btn-primary btn-block my-1" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Vorheriger Studiengang</a>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-primary btn-block my-1" href="{{ site.baseurl }}/sandbox/">Alle <span class="d-none d-md-inline">Studiengänge</span></a>
                </div>
                <div class="col-sm-4">
                    {% if page.next.url %}
                        <a class="btn btn-primary btn-block my-1" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Nächster Studiengang &rarr;</a>
                    {% endif %}
                </div>
        <!-- standard prev-next -->
        {% else %} 
            <div class="col-sm-4">
                {% if page.previous.url %} 
                    <a class="btn btn-primary btn-block my-1" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline"> {{ page.layout | capitalize }}</span></a>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary btn-block my-1" href="{{ site.baseurl }}/{{ page.layout | append:'s' }}">All<span class="d-none d-md-inline"> {{ page.layout | capitalize }}s</span></a>
            </div>
            <div class="col-sm-4">
                {% if page.next.url %}
                    <a class="btn btn-primary btn-block my-1" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline"> {{ page.layout | capitalize }}</span> &rarr;</a>
                {% endif %}
            </div>
                
        {% endif %}

    </div>
</div>
<hr>

            
