---
layout: page
title: Forschung
description: "FoSIL - Eine Forschungsgruppe der Hochschule Mittweida"
permalink: /about/
background: '/assets/images/backgrounds/network-4851079_1920.jpg'
accessibility-info:
    - { text: 'WAVE tested - 0 errors', date: '2020-08-27', url: 'https://wave.webaim.org/' }
---
<h2>Über uns</h2>
<div class="row">
    <div class="col-md">
        <p>Unsere Forschungsgruppe beschäftigt sich aus Sicht der Informationstechnologien im Bereich der allgemeinen sowie digitalen und computergestützten Forensik mit aktuellen Themen aus der sicherheitsrelevanten Forschung. Zusammen arbeiten Forschende in unterschiedlichen Themenkomplexen aus verschiedenen Gebieten der Naturwissenschaften gemeinsam an zukunftsweisenden sowie innovativen Lösungsansätzen für vielschichtigen Problemstellungen im Bereich der Forensik und Cybersicherheit.</p>
    </div>
    
    <div class="col-md-5">
            <br>
            <a class="btn btn-outline-primary btn-block" href="{{ '/about/projects/' | relative_url }}" role="button">Schwerpunkte &amp; Projekte &raquo;</a>
            <a class="btn btn-outline-primary btn-block" href="{{ '/about/team/' | relative_url }}" role="button">Mitarbeitende &raquo;</a>
            <a class="btn btn-outline-primary btn-block" href="{{ '/contact/' | relative_url }}" role="button">Kontaktieren Sie uns &raquo;</a>
    </div>
</div>

<h3>Highlights</h3>
<!-- to edit the numbers in this section, edit the file _data/stats.yml and they will update here! -->
<div class="card-deck">
    <div class="card">
    <div class="card-body">
       <h4 class="card-title text-center">{{ site.data.stats.publikationen.number}} <br><small class="text-muted">Publikationen</small></h4>
    </div>
  </div> 
  <div class="card">
    <div class="card-body">
       <h4 class="card-title text-center">{{ site.data.stats.projekte.number}} <br><small class="text-muted">Projekte</small></h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">{{ site.data.stats.mitarbeitende.number}} <br><small class="text-muted">Teammitglieder</small></h4>
    </div>
  </div>
</div>

<!-- this captures the list of team member names from site.team-members -->
{% capture member-name-list %}{{ site.team-members | map: 'username' | split: ',' }}{% endcapture %}

<h4 class="mt-5">Publikationen</h4>
<!-- the content in this section comes from _data/publications.yml -->
<!-- to edit content in this section, edit _data/publications.yml -->

<h5 class="mt-3">2023</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentytwentythree %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2022</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentytwentytwo %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2021</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentytwentyone %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2020</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentytwenty %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2019</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentynineteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2018</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentyeighteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2017</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentyseventeen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2016</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentysixteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2015</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentyfithteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2014</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentyfourteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2013</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentythirdteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2012</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentytwelve %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2011</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentyeleven %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<!--
<img src="{{ '/assets/images/team/WI+RE-Banner.png' | relative_url }}" alt="Five student designers on the WI+RE team collaborate on a video shoot. Text overlay: WI+RE." class="img-fluid mx-auto align-middle img-thumbnail" />
-->

