---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
              <div class="masthead-text-box heading-text-box">
                <span class="subheading" style="margin-top: 0px;"><small>Herzlich Willkommen auf der Homepage des</small></span>
                {% if site.description %}
                    <h2 class="mb-0">{{ site.description }}</h2>
                    <span class="subheading" style="margin-top: 0px;"><small>- Eine Forschungsgruppe der Hochschule Mittweida -</small></span>
                {% endif %}
                <p><span class="subheading"><img src="{{ '/assets/images/brand/fosil_landing.png' | relative_url }}" alt="FoSIL Logo" style="max-height: 250px;"></span></p>
                <!-- <span class="subheading" style="margin-top: 0px;"><small>Die Entwicklungen des letzten Jahrzehnts bei der Bekämpfung von Kriminalitätsphänomenen haben gezeigt, dass die richtungsweisende Entwicklung und Kopplung von Methoden der Forensik und Informatik die Aufklärung von Straftaten erheblich steigern können sowie neue Möglichkeiten bieten, Hintergründe aufzuklären und Zusammenhänge aufzudecken. Der fortschreitende technologische Wandel sorgt für immer neue Herausforderungen die es notwendig machen, eine zeitgemäße Forschung und Entwicklung, Lehre und praxisbezogenen Anwendungen sowie die Aus- und Fortbildung im Bereich der Informationsverarbeitung und -sicherheit auf hohem Niveau voran zu treiben. <br> Diesen Aufgaben stellen wir uns.</small></span>
                -->
                </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}
          
        <!-- Features: Option 1 -->
      <!-- ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
    <!-- Three columns -->
    <div class="row">
        <div class="col-lg-4">
            <a href="{{ '/about' | relative_url }}">
                <button class="btn btn-light h-100">
                    <img src="{{ '/assets/images/icons/lupe.png' | relative_url }}" alt="Forschung" class="w-50">
                    <h2>Forschung</h2>
                    <p>Informationen über unsere Forschung &amp; Fallarbeit</p>
                </button>
            </a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a class="" href="{{ '/workshops' | relative_url }}">
                <button class="btn btn-light h-100">
                    <img src="{{ '/assets/images/icons/pupil.png' | relative_url }}" alt="Schüler" class="w-50">
                    <h2>Studienangebot</h2>
                    <p>Unsere Studiengänge an der Hochschule Mittweida</p>
                </button>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="{{ '/tutorials' | relative_url }}">
                <button class="btn btn-light h-100">
                    <img src="{{ '/assets/images/icons/study.png' | relative_url }}" alt="Studierende" class="w-50">
                    <h2>Für Studierende</h2>
                    <p>Themen für Abschlussarbeiten &amp; Stellenausschreibungen</p>
                </button>
            </a>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>
</div>
</div>
          
          
        <!-- START THE FEATURETTES  -->

       <!--<hr class="featurette-divider">-->

        <div class="row featurette">
          <div class="row-lg-5">
            <h2 class="featurette-heading" align="center">Willkommen! <span class="text-muted">Das ist unser Team.</span></h2>
            <p class="lead text-center"><span class="subheading" style="margin-top: 5px;"><small>Die Entwicklungen des letzten Jahrzehnts bei der Bekämpfung von Kriminalitätsphänomenen haben gezeigt, dass die richtungsweisende Entwicklung und Kopplung von Methoden der Forensik und Informatik die Aufklärung von Straftaten erheblich steigern können sowie neue Möglichkeiten bieten, Hintergründe aufzuklären und Zusammenhänge aufzudecken. Der fortschreitende technologische Wandel sorgt für immer neue Herausforderungen die es notwendig machen, eine zeitgemäße Forschung und Entwicklung, Lehre und praxisbezogenen Anwendungen sowie die Aus- und Fortbildung im Bereich der Informationsverarbeitung und -sicherheit auf hohem Niveau voran zu treiben.<br><b>Diesen Aufgaben stellen wir uns.</b><br><br></small></span>
                <span class="align-middle">
                    <img class="featurette-image img-fluid mx-auto align-middle img-thumbnail" src="{{ '/assets/images/team/group.jpg' | relative_url }}" alt="Unser Team">
                </span>
            </p>
          </div>
                <div class="col-lg-4 p-2 mt-3">
                    <a class="btn btn-primary btn-block" href="{{ '/about/' | relative_url }}" role="button">Unsere Forschung &raquo;</a>
                </div>
                <div class="col-lg-4 p-2 mt-3">
                    <a class="btn btn-primary btn-block" href="{{ '/about/team/' | relative_url }}" role="button">Unsere Mitglieder &raquo;</a>
                </div>
                <div class="col-lg-4 p-2 mt-3">
                    <a class="btn btn-primary btn-block" href="{{ '/contact/' | relative_url }}" role="button">Kontaktieren Sie uns! &raquo;</a>
                </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Wir teilen unser Wissen!</h2>
            <p class="lead"><span class="subheading" style="margin-top: 0px;"><small>Die Fachgruppe Forensik entlässt jährlich ca. 100 studierte Naturwissenschaftlicher auf den Arbeitsmarkt. Besonders gefragt sind unsere Absolventen bei behördlichen Stellen. Denn nicht nur die ausgezeichnete Lehre macht ein Studium an der Hochschule Mittweida lohnenswert, auch das gemeinschaftliche Miteinander und zahlreichen Möglichkeiten zusätzliche Qualifizierungen abzuschließen sorgen für unseren guten Ruf in Wirtschaft und in Behörden.</small></span></p>
            <p class="text-center">Haben Sie Interesse? Entdecken Sie <a href="{{ '/workshops/' | relative_url }}" target="_blank">unsere Studiengänge</a>!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <h2 class="featurette-heading"></h2>
            <img class="featurette-image img-fluid mx-auto" src="{{ '/assets/images/icons/np_open-education_33913_1E4B88.png' | relative_url }}" alt="Open Educational Resources">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <!-- Home Featured Content List -->



      <div class="card shadow mt-2">
          <div class="card-header">
              <h2>Neuigkeiten</h2>
          </div>
          <div class="card-body">
    {% for tutorial in site.tutorials %}
      {% if tutorial.featured %}
            <li class="media mt-2">
                        <a href="{{ tutorial.url | relative_url | replace: '//', '/' }}" class="mr-4 d-none d-md-block" style="max-width: 30%;">
                            {% if tutorial.thumbnail %}
                                <img src="{{ tutorial.thumbnail | relative_url }}" class="mr-3 img-fluid  d-none d-md-block" style="max-width: 100%;" alt="Tutorial icon">
                            {% else %}
                                <img src="{{ '/assets/images/icons/tutorial-tn.png' | relative_url }}" class="mr-3 img-fluid" style="max-width: 100%;" alt="Tutorial icon">
                            {% endif %}
                        </a>
                    <div class="media-body">
                            <h3 class="mt-0 mb-1"><a href="{{ tutorial.url | relative_url | replace: '//', '/' }}">{{ tutorial.title }}</a></h3>
                            <p class="post-subtitle text-justify">
                                {% if tutorial.description %}
                                    {{ tutorial.description }}
                                {% else %}
                                    {{ tutorial.excerpt | strip_html | truncatewords: 30 }}
                                {% endif %}
                            </p>
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Actions">
                            <a href="{{ tutorial.url | relative_url | replace: '//', '/' }}" class="btn btn-primary">Tutorial</a>
                            {% if tutorial.handout %}
                                <a href="{{ tutorial.handout | relative_url | replace: '//', '/' }}" class="btn btn-primary">Handout</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <hr>
        {% endif %}
    {%endfor%}
          </div>
      </div>

          
<!--
<div class="card shadow mt-2">
          <div class="card-header">
              <h2>Featured Workshops</h2>
          </div>
          <div class="card-body">
    {% for workshop in site.workshops %}
      {% if workshop.featured %}
            <li class="media mt-2">
                        <a href="{{ workshop.url | relative_url | replace: '//', '/' }}" class="mr-4 d-none d-md-block" style="max-width: 30%;">
                            {% if workshop.thumbnail %}
                                <img src="{{ workshop.thumbnail | relative_url }}" class="mr-3 img-fluid  d-none d-md-block" style="max-width: 100%;" alt="workshop icon">
                            {% else %}
                                <img src="{{ '/assets/images/icons/tutorial-tn.png' | relative_url }}" class="mr-3 img-fluid" style="max-width: 100%;" alt="workshop icon">
                            {% endif %}
                        </a>
                    <div class="media-body">
                            <h3 class="mt-0 mb-1"><a href="{{ workshop.url | relative_url | replace: '//', '/' }}">{{ workshop.title }}</a></h3>
                            <p class="post-subtitle text-justify">
                                {% if workshop.description %}
                                    {{ workshop.description }}
                                {% else %}
                                    {{ workshop.excerpt | strip_html | truncatewords: 30 }}
                                {% endif %}
                            </p>
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Actions">
                            <a href="{{ workshop.url | relative_url | replace: '//', '/' }}" class="btn btn-primary">Start the workshop</a>
                            {% if workshop.handout %}
                                <a href="{{ workshop.handout | relative_url | replace: '//', '/' }}" class="btn btn-primary">Handout</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <hr>
        {% endif %}
    {%endfor%}
          </div>
      </div>
-->


</div>