---
layout: post
---

<!--


<div class="row alert alert-info">
    <div class="col-md-6">
        <p><strong><!--<img src="{{ '/assets/images/icons/np_bear_66250_000000_84_fh.png' | relative_url }}" alt="UCLA Bruin Bear Icon" height="24px" />->Was macht das hier?</strong></p>
        <p style="font-size: .75em;">Text mit Link <em>Kink</em> and <em>anderer Link</em> in <a href="https://bruinlearn.ucla.edu/courses/148951" target="_blank">WI+RE's Bruin Learn site</a> before completing this workshop.</p>
    </div>
    <div class="col-md-6">
        <p><strong>Und was macht das?</strong></p>
        <p style="font-size: .75em;">Hier kann auch noch Text rein</p>
    </div>
</div>

{{ content }}

-->